.v {
    &-section {
        &-1 {
            background: url('./../../assets/images/pattern-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            .v- {
                &layer {
                    background-color: #f5f0bbeb;
                    width: 100%;
                    height: 100%;
                }
                &primary-btn {
                    color: #000;
                    font-weight: 500;
                    border: 1px solid #ffc107;
                    background-color: #ffc107;
                    &:hover {
                        border: 1px solid #ffc720;
                        background-color: #ffca2c;
                    }
                }
                &secondary-btn {
                    color: #000;
                    font-weight: 500;
                    border: 1px solid #7d9dfc;
                    background-color: #87A5FF;
                    &:hover {
                        border: 1px solid #7798fb;
                        background-color: #7d9cfa;
                    }
                }
                &main {
                    padding-top: 46px;
                }
                &social-links {
                    ul {
                        display: flex;
                        flex-direction: column;
                        flex-direction: row;
                        gap: 15px;
                        padding-left: 0;
                        list-style: none;
                        li {
                            a {
                                color: #282828;
                            }
                        }
                    }
                }
                &hero-text {
                    text-align: start;
                    padding: 80px 50px;
                    &-sm-p {
                        font-size: 1.5rem;
                        color: #87A5FF;
                    }
                    &-p {
                        font-size: 1.7rem;
                    }
                    &-main {
                        font-size: 3.5rem;
                        font-weight: 800;
                        text-transform: capitalize;
                        position: relative;
                        &::after {
                            content: "";
                            width: 125px;
                            height: 30px;
                            position: absolute;
                            bottom: -31px;
                            right: 28px;
                            background-image: url(./../../assets/images/marker.svg);
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
        &-2 {
            background-color: #f1f1f1;
            padding: 4rem 3rem;
            .v- {
                &self-Limg {
                    position: absolute;
                    top: 30px;
                    left: 61px;
                }
                &self-Rimg {
                    position: absolute;
                    top: 30px;
                    right: 61px;
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
        }
        &-3 {
            background-color: #212529;
            // background-color: #87A5FF;
            padding: 4rem 3rem;
            text-align: center;
            color: #fff;
            position: relative;
            &::before {
                position: absolute;
                opacity: 0.5;
                background-image: linear-gradient(135deg, #ffc107 25%, transparent 25%), linear-gradient(225deg, #ffc107 25%, transparent 25%), linear-gradient(45deg, #ffc107 25%, transparent 25%), linear-gradient(315deg, #ffc107 25%, #3E2723 25%);
                background-position: 10px 0, 10px 0, 0 0, 0 0;
                background-size: cover;
                background-repeat: repeat;
                z-index: 9;
            }
            .v-services-icons {
                i {
                    color: #f6e05e;
                }
            }
        }
        &-4 {
            background-color: #f1f1f1;
            padding: 4rem 3rem;
        }
        &-5 {
            background-color: #87a5ff;
            padding: 4rem 3rem;
            color: #404040;
            .v-l- {
                &project-slider-con {
                    width: 650px;
                    min-height: 330px;
                    overflow-y: auto;
                    z-index: 1;
                    @include responsive(max,
                    800px) {
                        width: 100%;
                    }
                    .carousel-indicators {
                        bottom: -36px;
                    }
                }
                &project-info-con {
                    margin-left: -52px;
                    vertical-align: middle;
                    transform: translateY(15%);
                    z-index: 2;
                    @include responsive(max,
                    800px) {
                        margin-left: 0;
                    }
                }
                &project-detail-con {
                    background-color: #282828;
                    color: #fafafa;
                    position: relative;
                    border-radius: 5px;
                    padding: 20px;
                }
                &project-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 10px;
                }
            }
            .v-r- {
                &project-slider-con {
                    width: 650px;
                    min-height: 330px;
                    overflow-y: auto;
                    z-index: 1;
                    @include responsive(max,
                    800px) {
                        width: 100%;
                    }
                    .carousel-indicators {
                        bottom: -36px;
                    }
                }
                &project-info-con {
                    margin-right: -52px;
                    vertical-align: middle;
                    transform: translateY(15%);
                    z-index: 2;
                    position: relative;
                    @include responsive(max,
                    800px) {
                        margin-left: 0;
                    }
                }
                &project-detail-con {
                    background-color: #282828;
                    position: relative;
                    border-radius: 5px;
                    padding: 20px;
                    color: #fafafa;
                }
                &project-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 10px;
                }
            }
        }
        &-6 {
            background-color: #f1f1f1;
            padding: 4rem 3rem;
            text-align: center;
            color: #2a2a2a;
            position: relative;
        }
    }
    &-main {
        .cursor {
            cursor: pointer;
        }
    }
    &-bg-white {
        background-color: #ddd;
    }
    &-bg-bluei {
        background-color: #87a5ff;
    }
}